

<div class="wrapper">
    <div class="row">
        <div class="col-xs-2">
               <img src="/img/transparent.gif" class="img-rounded burger-img">
        </div>
        <div class="col-xs-10">
            <div class="jumbotron">
                <h1>Da Burger Joint</h1>
            </div>
        </div>
    </div>

<h3>Add a Burger</h3>
<form class="create-update-form" action="/api/addburger" method="POST">

  <div class="form-group">
    <label for="bn">Burger Name:</label>
    <input type="text" id="bn" name="name" size="50">
  </div>

  <button class="btn btn-info type="submit">Add Burger</button>
</form>

<h3>Burgers that are ready to be devoured!</h3>
<ul>
  {{#each burgers}}
    {{#unless this.devoured}}
      <li>
        <h3>{{this.id}}. {{this.burger_name}}</h3>

        <form action="//api/update/{{this.id}}" method="POST">
          <input type="hidden" name="devoured" value="true">

          <input name="customer" type="text" class="form-control" id="customer-input" placeholder="Customer Who Eats this burger"/>
          <button class="btn btn-primary" type="submit">EAT THIS BURGER NOW!</button>
          <hr>
        </form>
        <form action="/api/delete/{{this.id}}" method="POST">
          <input type="hidden" name="id" value="{{this.id}}">
          <button class="btn btn-danger" type="submit">DELETE this burger!</button>
        </form>
      </li>
    {{/unless}}
  {{/each}}
</ul>

<h3>Burgers that have been devoured!</h3>

<ul>
  {{#each burgers}}
    {{#if this.devoured}}
      <li>
        {{this.id}}. {{this.burger_name}}

        <form action="/api/update/{{this.id}}" method="POST">
          <input type="hidden" name="devoured" value="false">
          <button class="btn btn-primary type="submit">PUT BURGER BACK ON MENU!</button>
        </form>
        <form action="/api/delete/{{this.id}}" method="POST">
          <input type="hidden" name="id" value="{{this.id}}">
          <button class="btn btn-danger" type="submit">DELETE this burger!</button>
        </form>
      </li>
    {{/if}}
  {{/each}}
</ul>


</div>