

<div class="wrapper">
    <div class="row">
        <div class="col-xs-2">
               <img src="/img/transparent.gif" class="img-rounded burger-img">
        </div>
        <div class="col-xs-10">
            <div class="jumbotron">
                <h1>Da Burger Joint</h1>
            </div>
        </div>
    </div>
    <div class = "row">
        <div class="col-xs-6">
            <h3>Add a Burger</h3>
            <form class="create-update-form" action="/api/addburger" method="POST">
              <div class="form-group">
                <label for="bn">Burger Name:</label>
                <input type="text" id="bn" name="burgername" size="50">
              </div>
              <button class="btn btn-info" type="submit">Add Burger</button>
            </form>
        </div>

        <div class="col-xs-6">
            <h3>Add a Customer</h3>
            <form class="create-update-form" action="/api/addcustomer" method="POST">
              <div class="form-group">
                <label for="cn">Customer Name:</label>
                <input type="text" id="cn" name="customername" size="50">
              </div>
              <button class="btn btn-info" type="submit">Add Customer</button>
            </form>
        </div>
    </div>


    <div class = "row">
        <div class="col-xs-6">
        <h3>Burgers that are ready to be devoured!</h3>
            <ul>
              {{#each burgers}}
                {{#unless this.devoured}}
                  <div>
                    <h3>{{inc @index}}. {{this.burger_name}}</h3>

                    {{#if ../customers}}
                        <form action="/api/update/{{this.id}}" method="POST">

                          <div class="form-group">
                            <input type="hidden" name="devoured" value="true">
                            <label for="category">Select Customer To Eat Burger:</label>

                            <div class="form-group">
                            <select class="form-control" id="customer" required="required" aria-required="true" style="width: 300px">
                              <option value="" disabled selected>Select a hungry customer</option>
                              {{#each ../customers}}
                                  <option value={{this.id}}>{{this.customer_name}}</option>
                              {{/each}}
                            </select>
                                <input type="hidden" name="CustomerId" value={{this.id}}>
                            </div>

                            <button class="btn btn-primary" type="submit">EAT THIS BURGER NOW!</button>
                          </div>
                        </form>
                    {{else}}
                        <h4>Add Customers in order to devour this burger</h4>
                    {{/if}}


                    <form action="/api/delete/{{this.id}}" method="POST">
                      <input type="hidden" name="id" value="{{this.id}}">
                      <button class="btn btn-danger" type="submit">DELETE this burger!</button>
                    </form>
                  </div>
                {{/unless}}
              {{/each}}
            </ul>
        </div>

        <div class="col-xs-6">
            <h3>Burgers that have been devoured!</h3>
            <ul>
              {{#each burgers}}
                {{#if this.devoured}}
                    <h3>{{inc @index}}. {{this.burger_name}}</h3>

                    <form action="/api/update/{{this.id}}" method="POST">
                      <input type="hidden" name="devoured" value="false">
                      <button class="btn btn-primary" type="submit">PUT BURGER BACK ON MENU!</button>
                    </form>
                    <form action="/api/delete/{{this.id}}" method="POST">
                      <input type="hidden" name="id" value="{{this.id}}">
                      <button class="btn btn-danger" type="submit">DELETE this burger!</button>
                    </form>
                {{/if}}
              {{/each}}
            </ul>
        </div>
    </div>
</div>